//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary:       #F58221;
$secondary:     #0074C8;
$success:       #26b873;
$info:          #0DCAF0;
$warning:       #FFC107;
$danger:        #ff3d51;
$light:         #868785;
$dark:          #231F20;

.brand-logo {
  img {
    height: 25px;
    width: 36px;
  }
}

.highcharts-drilldown-data-label text{
  text-decoration:none !important;
  color: #272F44
}

.highcharts-drilldown-axis-label {
  text-decoration:none !important;
  color: #272F44
}

.texto-rojo {
  color: $danger;
  font-weight: bold;
}

.texto-amarillo {
  color: $warning;
  font-weight: bold;
}

.texto-verde {
  color: $success;
  font-weight: bold;
}

.centrado {
  text-align: center;
}

pre {
  background-color: $light;
}

code[class^='language-'], code[class*=' language-']{
  color: #272F44 !important;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.leyenda {
  font-size: small;
  text-align: left;
  color: #272F44;
  margin-bottom: 0px;
  // padding-bottom: 0px;
  // vertical-align: middle;
}

.botonEnviar {
  padding: 0.45rem;
}

.fondo-negro {
  background-color: #231F20;
}

// Esto es un terrible parche para cambiar el color del menú lateral que no usa las buenas prácticas de la documentación de Vuexy
.scrollbar-container, .main-menu.menu-light .navigation, .navbar-header {
  background-color: #231F20 !important;
}

// Y esto es otro para cambiar el color del texto del título principal
.main-menu .navbar-header .navbar-brand .brand-text {
  color: white;
  font-size: 1.2rem;
}

// Y este para el logo
// .main-menu .navbar-header .navbar-brand .brand-logo img {
//   // width: 60px;
//   // height: 42px;
//   // max-width: 60px;
//   width: 55px;
//   height: 38px;
//   max-width: 55px;
// }

// Texto de elementos de menú que no están seleccionados
.main-menu.menu-light .navigation li a {
  color: #F7F7F7;
}

// Elemento seleccionado del menú de navegación
.main-menu.menu-light .navigation > li ul .active {
  box-shadow: none;
  background-color: $primary;
}

.main-menu .navbar-header .navbar-brand {
  margin-top: 0;
}

.main-menu .shadow-bottom {
  background: linear-gradient(#272F44 41%, rgba(35, 31, 32, 0.11) 95%, rgba(35, 31, 32, 0));
}

.titulo {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Geneva, sans-serif;
  // font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.subtitulo {
  margin-bottom: 10px;
}

.hrTitulo {
  border: 3px solid #666666;
  margin: 0;
}

.tituloFiltro {
  margin-top: 20px;
}

.header-navbar.navbar-shadow {
  box-shadow: none;
}

.navbar-light {
  background: none;
}

.content.app-content {
  padding: 2.45rem 3rem 0
}