//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary:       #F58221;
$secondary:     #0074C8;
$success:       #336600;
$info:          #01416e;
$warning:       #FFCC00;
$danger:        #990000;
$light:         #868785;
$dark:          #231F20;

.brand-logo {
  img {
    height: 25px;
    width: 36px;
  }
}

.highcharts-drilldown-data-label text{
  text-decoration:none !important;
  color: #272F44
}

.highcharts-drilldown-axis-label {
  text-decoration:none !important;
  color: #272F44
}

.texto-rojo {
  color: $danger;
  font-weight: bold;
}

.texto-amarillo {
  color: $warning;
  font-weight: bold;
}

.texto-verde {
  color: $success;
  font-weight: bold;
}

.centrado {
  text-align: center;
}

pre {
  background-color: $light;
}

code[class^='language-'], code[class*=' language-']{
  color: #272F44 !important;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.leyenda {
  font-size: small;
  text-align: left;
  color: #272F44;
  margin-bottom: 0px;
  // padding-bottom: 0px;
  // vertical-align: middle;
}

.botonEnviar {
  padding: 0.45rem;
}

.fondo-negro {
  background-color: #231F20;
}

// Esto es un terrible parche para cambiar el color del menú lateral que no usa las buenas prácticas de la documentación de Vuexy
.scrollbar-container, .main-menu.menu-light .navigation, .navbar-header {
  background-color: #231F20 !important;
}

// Y esto es otro para cambiar el color del texto del título principal
.main-menu .navbar-header .navbar-brand .brand-text {
  color: white;
  font-size: 1.2rem;
}

// Y este para el logo
// .main-menu .navbar-header .navbar-brand .brand-logo img {
//   // width: 60px;
//   // height: 42px;
//   // max-width: 60px;
//   width: 55px;
//   height: 38px;
//   max-width: 55px;
// }

// Texto de elementos de menú que no están seleccionados
.main-menu.menu-light .navigation li a {
  color: #F7F7F7;
}

// Elemento seleccionado del menú de navegación
.main-menu.menu-light .navigation > li ul .active {
  box-shadow: none;
  background-color: $primary;
}

.main-menu .navbar-header .navbar-brand {
  margin-top: 0;
}

.main-menu .shadow-bottom {
  background: linear-gradient(#272F44 41%, rgba(35, 31, 32, 0.11) 95%, rgba(35, 31, 32, 0));
}

.titulo {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Geneva, sans-serif;
  // font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.subtitulo {
  margin-bottom: 10px;
}

.hrTitulo {
  border: 3px solid #666666;
  margin: 0;
}

.tituloFiltro {
  margin-top: 20px;
}

.header-navbar.navbar-shadow {
  box-shadow: none;
}

.navbar-light {
  background: none;
}

// .content.app-content {
//   padding: 2rem 3rem 0 !important;
// }

.content.app-content {
  padding-top: 4rem !important;
}

.header-navbar.floating-nav {
  position: absolute;
}

.navbar-floating .header-navbar-shadow {
  background: none;
}

@media screen and (max-width: 1199px) {

  div:has(.extenderDerecha) {
    padding-bottom: 0;
  }
  
  div:has(.extenderIzquierda) {
    padding-top: 0;
  }
  
  .extenderDerecha {
    border-bottom: lighten($dark, 70%);
    border-bottom-style: dashed;
    border-bottom-width: thin;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
  
  .extenderIzquierda {
    border-top: lighten($dark, 70%);
    border-top-style: dashed;
    border-top-width: thin;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }  
}

@media screen and (min-width: 1200px) {

  div:has(.extenderDerecha) {
    padding-right: 0;
  }
  
  div:has(.extenderIzquierda) {
    padding-left: 0;
  }
  
  .extenderDerecha {
    border-right: lighten($dark, 70%);
    // border-right: $dark;
    // filter: brightness(85%);
    border-right-style: dashed;
    border-right-width: thin;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .extenderIzquierda {
    border-left: lighten($dark, 70%);
    border-left-style: dashed;
    border-left-width: thin;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.header-navbar .navbar-container ul.navbar-nav li > a.nav-link:first-child {
  // margin-left: -2rem;
  margin-top: -2rem;
}

// Elementos del filtro
.mb-1 {
  padding: 0.5rem;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  margin-top: 0 !important;
}
// Div para el botón del filtro
div.mb-1:has(button.botonEnviar.btn.btn-primary) {
  padding-top: 1.7rem !important;
}
// Botón del filtro
button.botonEnviar.btn.btn-primary {
  width: 100%;
}